.LRtopArea {
  width: 67%;
  margin: 0 auto;
  user-select: none;
  color: #091b35;
  margin-top: 2.4em;
  .titleE {
    font-size:3.2em;
    font-weight: bold;
    font-family: '庞门正道标题体';
  }
  .titleC {
    font-size: 1.5em;
    margin:.8em 0 .3em;
  }
}
.LRForm {
  width: 67%;
  margin: 0 auto;
  margin-top: 4em;
}