@font-face {
  font-family: 'iconfont';  /* Project id 3013760 */
  src: url('//at.alicdn.com/t/font_3013760_j7h3oxzdre.woff2?t=1649224571129') format('woff2'),
       url('//at.alicdn.com/t/font_3013760_j7h3oxzdre.woff?t=1649224571129') format('woff'),
       url('//at.alicdn.com/t/font_3013760_j7h3oxzdre.ttf?t=1649224571129') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-shujuzidian1:before {
  content: "\e636";
}

.icon-paixu:before {
  content: "\e617";
}

.icon-yanjing_xianshi:before {
  content: "\eb46";
}

.icon-aixin:before {
  content: "\e8c3";
}

.icon-w_rilibiao:before {
  content: "\e670";
}

.icon-shangchuantouxiang:before {
  content: "\e616";
}

.icon-duihao:before {
  content: "\e60b";
}

.icon-icon--:before {
  content: "\e77d";
}

.icon-dingxiangbao:before {
  content: "\e684";
}

.icon-py:before {
  content: "\e653";
}

.icon-zu729:before {
  content: "\e609";
}

.icon-wodefabu:before {
  content: "\e6d2";
}

.icon-xiaoneishehuizhiwu:before {
  content: "\e607";
}

.icon-gongzifanganbiaopeizhi:before {
  content: "\e612";
}

.icon-fanganku:before {
  content: "\e7b5";
}

.icon-wodeshoucang:before {
  content: "\e627";
}

.icon-shujuzidian:before {
  content: "\e666";
}

.icon-chouqu:before {
  content: "\e679";
}

.icon-shanchu:before {
  content: "\e89c";
}

.icon-chenggong:before {
  content: "\e606";
}

.icon-bendi:before {
  content: "\e63e";
}

.icon-chaxunmoban:before {
  content: "\e639";
}

.icon-biaotou-kepaixu:before {
  content: "\e8f7";
}

.icon-xiangxia:before {
  content: "\e652";
}

.icon-24gf-folderOpen:before {
  content: "\eac5";
}

.icon-xiangyou:before {
  content: "\e611";
}

.icon-guanbi_o:before {
  content: "\eb76";
}

.icon-text:before {
  content: "\e629";
}

.icon-chanpinfangan:before {
  content: "\e6a4";
}

.icon-shurukuanglashen:before {
  content: "\e605";
}

.icon-icon__xuanzexialacaidan:before {
  content: "\e61c";
}

.icon-tanhao:before {
  content: "\e8c6";
}

.icon-jixiaofenxi:before {
  content: "\e62e";
}

.icon-a-2fenleixuanxiang:before {
  content: "\e635";
}

.icon-cloud-search:before {
  content: "\e98d";
}

.icon-local:before {
  content: "\e664";
}

.icon-caidan:before {
  content: "\eaf1";
}

.icon-home:before {
  content: "\e6b7";
}

.icon-yonghu:before {
  content: "\e60e";
}

.icon-shezhitianchong:before {
  content: "\e68d";
}

.icon-tuichu:before {
  content: "\e67d";
}

.icon-31tishi:before {
  content: "\e600";
}

.icon-youxiang:before {
  content: "\e69d";
}

.icon-shoujihao:before {
  content: "\e62b";
}

.icon-zhanghao:before {
  content: "\e678";
}

.icon-mima:before {
  content: "\e850";
}

.icon-danwei:before {
  content: "\e649";
}

